body{
    background-color: rgb(158, 42, 42);
}

.btn{
    margin: auto;
    width: 10%;
    padding: 5px;
}
label{
    font-size: 18px;
}

.checkbox{
    width: 1.2em;
    height: 1.2em;
    margin-top: 10px;
}

button{
    font-size: 22px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(41, 113, 196);
}
.container{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(var(--numRows), 1fr);
    grid-template-rows: repeat(var(--numCols), 1fr);
    width: 600px;
    height: 600px;
    border: 5px solid black;
    background-color: white;
}

.cell{
    display: flex;
    border: 1px solid black;
}

